
<%- include("partials/header.ejs") %>
<% if (loginClicked){%>
    <%- include("loginform.ejs") %>
    
<%} %>
<div class="container">
    <h1 class="siteTitle"><span>Crafted </span>Steps</h1>

    <p><%=today %></p><br>
    <h3 id="recent">Recent posts</h3><br>
    <div class="subcontainer">
        <% posts.forEach(post => { %>
        <div class="post-card">
        <h1><%= post.title %></h1>
        <p><strong>By:</strong> <%= post.author %></p>
        <p  class="post-content"><%= post.content.substring(0, 200) %>...</p>
        <a href="/displayPost/<%= post.id %>">Read More</a>
    </div>
    <% }) %>
    </div>
    <br>
    <div class="post-titles-list">
    <h3>All Titles</h3>
    <ul >
        <% posts.forEach(post => { %>
            <li>
                -<a href="/displayPost/<%= post.id %>"><strong><%= post.title %></strong></a>
            </li>
        <% }); %>
        </ul>

    </div>
    
</div>
<script>
document.getElementById("show-login").addEventListener('click',function(){
    const loginBox=document.getElementById("log");
    loginBox.style.display=(loginBox.style.display==='none' ||loginBox.style.display==='')?'block':'none';
})
</script>

<%- include("partials/footer.ejs") %>