<%- include("partials/header.ejs") %>
    <div class="container">
        <h1 class="heading">Welcome to <span class="titleName"></span> TechTales</h1><br>
        <h2>Recent posts</h2><br>
        <div class="subcontainer">
            <% posts.forEach(post => { %>
            <div class="post-card">
            <h2><%= post.title %></h2>
            <p><strong>By:</strong> <%= post.authorName %></p>
            <p><%= post.content.substring(0, 200) %>...</p>
            <p><small>Email: <%= post.emails || 'N/A' %></small></p>
            <a href="/posts/<%= post.id %>">Read More</a>
        </div>
        <% }) %>
        </div>
        <br>
        
    </div>
   

<%- include("partials/footer.ejs") %>